<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://218.6.169.108:11180/a/download?filePath=/data/jeesite/files/2017/09/22/2271410141528354032.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://o7f0h1pct.qnssl.com/Icon-76.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://o7f0h1pct.qnssl.com/Icon-76%402x.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.maipu.serviceIntelligent</string>
				<key>bundle-version</key>
				<string>1.00</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>服务宝</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
